.page {
		// .page__help
		&__help {
		}
}
.help {
		// .help__content
		&__content {
      display: flex;
      flex-direction: column;
		}
		// .help__head
		&__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value(padding-top, 40, 30, 1);
      @include adaptiv-value(padding-bottom, 40, 30, 1);
      @include adaptiv-value(padding-left, 60, 8, 1);
      @include adaptiv-value(padding-right, 60, 8, 1);
      background: linear-gradient(221.35deg, rgba(212, 238, 252, 0) 0%, #D4EEFC 100%);
      border-radius: 1px;
		}
		// .help__tabs-block
		&__tabs-block {
      @include adaptiv-value(padding-top, 45, 30, 1);
      @include adaptiv-value(padding-bottom, 80, 60, 1);
      display: flex;
      @media (max-width: $md2+px) {
        flex-direction: column;
      }
		}
}

.head-help {
  @media (max-width: $md2+px) {
    margin: 0 -15px;
  }
  @media (max-width: $md3+px) {
    margin: 0 -8px;
  }
  @media (max-width: 858px) {
    flex-wrap: wrap;
  }
		// .head-help__text
		&__text {
      flex: 0 0 821 / 1204 * 100%;
      @include adaptiv-font(18, 14, 18);
      line-height: 32 / 18 * 100%;
      @media (max-width: 858px) {
        flex: 0 0 100%;
        margin-bottom: 30px;
      }
		}
		// .head-help__btn
		&__btn {
      padding-left: calc(18px + 6 * ((100vw - 320px)/ 1120));
      padding-right: calc(18px + 6 * ((100vw - 320px)/ 1120));
      @include adaptiv-font(12, 10, 12);
      line-height: 12px;
      @media (max-width: 858px) {
        flex: 0 0 100%;
      }
		}
}

.tabs-block {
  @media (max-width: $md2+px) {
    flex-direction: column;
  }
		// .tabs-block__nav
		&__nav {
      flex: 0 0 443 / 1320 * 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: $md2+px) {
        display: none;
      }
      &_mobile {
        margin-bottom: 40px;
        & .select__value {
          padding: 0 24px 0 8px;
          @extend ._icon-arrow-down_wide;
          &::before {
            font-weight: 900;
            font-size: 8px;
          }
        }
        @media (min-width: $md2+px) {
          display: none;
        }
      }
		}
		// .tabs-block__item
		&__item {
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      line-height: 18px;
      color: $gray7F;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      cursor: pointer;
      &::before {
        opacity: 0;
        margin-right: 14px;
        transform: rotate(-90deg);
        font-size: 6px;
        transition: all 0.3s ease 0s;
      }
      &._active {
        color: $mainColor;
        &::before {
          opacity: 1;
        }
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: underline;
        color: $mainColor;
        &::before {
          text-decoration: none;
        }
      }
		}
		// .tabs-block__body
		&__body {
		}
		// .tabs-block__block
		&__block {
		}
}
.tab-block {
		// .tab-block__requirements
		&__requirements {
		}
		// .tab-block__important
		&__important {
		}
		// .tab-block__upload
		&__upload {
		}
}
.requirements-block {
		// .requirements-block__title
		&__title {
      @include adaptiv-value(margin-bottom, 25, 10, 1);
		}
		// .requirements-block__list
		&__list {
		}
		// .requirements-block__list-item
		&__list-item {
      display: flex;
      align-items: baseline;
      @include adaptiv-value(margin-bottom, 80, 40, 1);
      @include adaptiv-font(18, 16, 18);
      line-height: 28 / 18 * 100%;
      &::before {
        font-size: 8px;
        margin-right: 20px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
		}
}
.important-block {
  border-bottom: 3px solid #000;
  padding-bottom: 40px;
  @include adaptiv-value(margin-bottom, 40, 30, 1);
		// .important-block__title
		&__title {
		}
		// .important-block__text
		&__text {
      @include adaptiv-value(margin-bottom, 40, 20, 1);
      @include adaptiv-font(18, 16, 18);
      line-height: 28 / 18 * 100%;
		}
		// .important-block__aswell
		&__aswell {
      @include adaptiv-value(margin-bottom, 20, 10, 1);
      @include adaptiv-font(18, 16, 18);
      line-height: 32 / 18 * 100%;
		}
		// .important-block__aswell-list
		&__aswell-list {
      margin: 0px 0px 40px 17.5px;
      @media (min-width: $md3+px) {
        margin: 0 0 40px 50px;
      }
		}
		// .important-block__aswell-list-item
		&__aswell-list-item {
      @include adaptiv-value(padding-left, 10, 0, 1);
      @include adaptiv-font(16, 14, 16);
      line-height: 24 / 16 * 100%;
		}
		// .important-block__important
		&__important {
      font-weight: 500;
      @include adaptiv-font(18, 16, 18);
      line-height: 28px;
      color: #FF6060;
      @media (max-width: $md4+px) {
        font-weight: 400;
      }
		}
}
.upload-block {
		// .upload-block__title
		&__title {
		}
		// .upload-block__text
		&__text {
      @include adaptiv-value(margin-bottom, 40, 20, 1);
      @include adaptiv-font(16, 14, 16);
      line-height: 24 / 16 * 100%;
      @media (min-width: $md3+px) {
        padding-right: 100px;
      }
		}
		// .upload-block__btn
		&__btn {
      min-width: 274px;
      min-height: 64px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-transform: none;
      &::before {
        font-size: 24px;
        width: 18px;
        margin-right: 10px;
      }
      @media (max-width: $md4+px) {
        min-width: 100%;
      }
		}
}

body > div.wrapper._loaded > main > section > div > div.help__tabs-block._tabs > div > div.tabs-block__block.tabs-block._tabs-block._active > div.tab-block__upload.upload-block > a:hover {
  background-color: $mainColor;
  color: $whiteColor;
}