.product {
  // .product__content
  &__header-content {
    @media (max-width: $md2+px) {
      padding: 0 !important;
    }
  }
  // .product__header
  &__header {
    position: relative;
    @media (max-width: $md2+px) {
      padding: 0 8px;
    }
  }
  // .product__body
  &__body {
    @include adaptiv-value(padding-top, 60, 0, 1);
    @include adaptiv-value(margin-bottom, 100, 60, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $md3+px) {
      flex-direction: column;
      padding-top: 0;
    }
  }
}

.header-product {
		// .header-product__main
		&__main {
      display: flex;
      align-items: center;
      @include adaptiv-value("padding-right", 60, 0, 1);
      @media (max-width: $md3+px) {
        flex-direction: column;
        padding: 12px 8px 20px;
      }
		}
		// .header-product__icon
		&__icon {
      flex: 0 0 225 / 1260 * 100%;
      height: 81px;
      min-height: 86px;
      background: url(../img/catalog/colored3.svg) no-repeat 50% / contain;
      @media (max-width: $md3+px) {
        flex: 0 0 100%;
        width: 100%;
        background-image: url(../img/catalog/icon-86x86.svg);
      }
		}
		// .header-product__textarea
		&__textarea {
      display: flex;
      flex-direction: column;
      padding: 30px 15px 40px 0px;
      @media (max-width: $md3+px) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-bottom: 20px;
      }
		}
		// .header-product__title
		&__title {
      margin-bottom: 10px;
      @media (max-width: $md3+px) {
        flex: 0 0 100%;
        text-align: center;
      }
		}
		// .header-product__text
		&__text {
      max-width: 544px;
      font-size: 14px;
      line-height: 20px;
		}
		// .header-product__btn
		&__btn {
      margin-left: auto;
      @media (max-width: $md3+px) {
        margin: 0;
        width: 100%;
      }
		}
}
//====================================================================================================
.body-product {
  // .body-product__column
  &__column {
    // .body-product__column_left
    &_left {
      flex: 0 0 655 / 1320 * 100%;
      // padding-top: 32.804%;
      height: 423px;
      margin-bottom: 30px;
      @media (max-width: $md3+px) {
        margin: 0 -15px 30px;
        padding-top: 68.1%;
        }
        @media (max-width: $md4+px) {
          margin: 0 -8px 37px;
        }
    }
    // .body-product__column_right
    &_right {
      flex: 0 0 544 / 1320 * 100%;
      & form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & .form__line {
          &:first-child {
            margin-bottom: 30px;
          }
          &:nth-child(2) {
            margin-bottom: 40px;
          }
        }
      }
      & button {
        min-height: 48px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        width: 201px;
        @media (max-width: $md3+px) {
          width: 100%;
        }
      }
      @media (max-width: $md3+px) {
        margin-bottom: 40px;
      }
      & .form__line_range {
        position: relative;
      }
      & .input_range {
        position: absolute;
        top: -5px;
        right: 0;
        margin: 0;
        padding: 9px 7px 9px 10px;
        width: 101px;
        height: 36px;
        opacity: 1;
      }
    }
  }
  // .body-product__list
  &__list {
    flex: 0 1 655 / $maxWidthContainer * 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }
  // .body-product__link
  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
    color: $mainColor;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    &::before {
      font-size: 24px;
      margin-right: 10px;
      transition: all 0.3s ease 0s;
      backface-visibility: hidden;
    }
    @media (any-hover: hover) {
      &:hover::before {
        transform: scale(1.5);
      }
    }
    @media (min-width: $md3+px) {
      &:not(:last-child) {
        padding-right: 10px;
      }
    }
    @media (max-width: $md3+px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    // .body-product__link_requirements
    &_requirements {
    }
    // .body-product__link_upload
    &_upload {
      cursor: pointer;
      margin-left: 15px;
    }
    // .body-product__link_order
    &_order {
      margin-left: 20px;
    }
  }
}
//====================================================================================================

.product {
		// .product__range
		&__range {
      margin-top: 34px;
		}
}

//====================================================================================================

.product {
		// .product__table
		&__table {
		}
}

.table-product {
		// .table-product__table
		&__table {
      border-bottom: 3px solid #000000;
      border-collapse: collapse;
      @media (max-width: $md2+px) {
        display: none;
      }
		}
		// .table-product__row
		&__row {
      position: relative;
      height: 68px;
      text-align: left;
      border-collapse: collapse;
      & td {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
      }
		}
		// .table-product__format
		&__format {
      width: 554 / $maxWidthContainer * 100%;
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}
		// .table-product__number
		&__number {
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}
		// .table-product__name
		&__name {
      font-size: 18px;
      line-height: 18px;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}
		// .table-product__cost
		&__cost {
      font-size: 18px;
      line-height: 18px;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		}
    &__last {
      border: 0;
    }
}
.table {
		// .table_1
		&_1 {
      margin-bottom: 35px;
		}
		// .table_2
		&_2 {
		}
}

//====================================================================================================
.table-product {
		// .table-product__mobile
		&__mobile {
      display: none;
      @media (max-width: $md2+px) {
        display: block;
      }
		}
}
.mobile-table {
  // border-collapse: collapse;
    &__table {
      border: 1px solid #B3B3B3;
      border-bottom: 3px solid #000000;
      border-collapse: collapse;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
		// .mobile-table_3
		&_3 {
      margin-bottom: 60px;
		}
		// .mobile-table__title
		&__title {
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
		}
		// .mobile-table__number
		&__number {
      margin-bottom: 10px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
		}
		// .mobile-table__row
		&__row {
      height: 46px;
      & td {
        border-top: 1px solid #B3B3B3;
        padding: 0 10px;
        &:nth-child(2) {
          text-align: right;
        }
      }
		}
		// .mobile-table__name
		&__name {
      font-size: 16px;
      line-height: 18px;
		}
		// .mobile-table__cost
		&__cost {
      font-size: 16px;
      line-height: 18px;
		}
}
//====================================================================================================
.product-info {
  @include adaptiv-value(padding-top, 80, 60, 1);
  @include adaptiv-value(padding-right, 235, 0, 1);
  // .product-info__textarea
  & > div {
    margin-bottom: 32px;
    &:last-child {
      @include adaptiv-value(margin-bottom, 100, 60, 1);
    }
  }
  // .product-info__title
  & h1, h2 {
    @extend h1;
    margin-bottom: 20px;
    font-weight: 500;
    @include adaptiv-font(48, 30, 48);
    line-height: 56 / 48 * 100%;
  }
  // .product-info__text
  & p {
    @include adaptiv-font(16, 14, 16);
    line-height: 24 / 16 * 100%;
    color: $gray80;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
//====================================================================================================
//====================================================================================================
.another-product {
		// .another-product__scrollbar-slider
		&__scrollbar-slider {
      overflow: visible;
      @include adaptiv-value("margin-bottom", 100, 50, 1);
		}
		// .another-product__item
		&__item {
      @extend .item-catalog;
      @include adaptiv-value("width", 212, 147, 1);
		}
		// .another-product__title
		&__title {
      @extend .item-catalog__title;
		}
		// .another-product__sub-title
		&__sub-title {
      @extend .item-catalog__sub-title;
		}
		// .another-product__body
		&__body {
      @extend .item-catalog__body;
		}
		// .another-product__arrow
		&__arrow {
      @extend .item-catalog__arrow;
		}
		// .another-product__icon-wrapper
		&__icon-wrapper {
      @extend .item-catalog__icon-wrapper;
		}
		// .another-product__icon
		&__icon {
      @extend .item-catalog__icon;
			// .another-product__icon_default
			&_default {
        @extend .item-catalog__icon_default;
			}
			// .another-product__icon_colored
			&_colored {
        @extend .item-catalog__icon_colored;
			}
		}
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
}


body > div.wrapper._loaded > main > section.product__another.another-product._container > div > div.swiper-scrollbar {
  margin-top: 20px;
  height: 4px;
  background-color: $grayE5;
  @media (max-width: $md4+px) {
    height: 2px;
  }
}
body > div.wrapper._loaded > main > section.product__another.another-product._container > div > div.swiper-scrollbar > div {
  background-color: $mainColor;
  height: 100%;
}
//====================================================================================================