.catalog {
  @include adaptiv-value("margin-bottom", 115, 70, 1);
		// .catalog__content
		&__content {
		}
		// .catalog__body
		&__body {
		}
		// .catalog__title
		&__title {
		}
		// .catalog__grid
		&__grid {
      display: grid;
      grid-template-columns: repeat(6, minmax(147px, 1fr));
      gap: 15px 10px;
      @media (max-width: $md2+px) {
        grid-template-columns: repeat(4, minmax(147px, 1fr));
      }
      @media (max-width: $md3+px) {
        grid-template-columns: repeat(3, minmax(147px, 1fr));
      }
      @media (max-width: $md4+px) {
        grid-template-columns: repeat(2, minmax(147px, 1fr));
      }
		}
}

.item-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 226px;
  padding: 21px 0px 0px 15px;
  border: 1px solid #E6E6E6;
  border-radius: 1px;
  @media (max-width: $md2+px) {
    padding: 21px 0px 0px;
  }
  @media (any-hover: hover) {
    &:hover {
      .item-catalog__arrow {
        opacity: 1;
        visibility: visible;
      }
      .item-catalog__icon {
        &_colored {
          opacity: 1;
          visibility: visible;
        }
      }
      ._rgba {
        opacity: 1;
      }
    }
  }
  
		// .item-catalog__title
		&__title {
      margin: 0 15px 10px 0;
      font-size: 18px;
      word-break: break-word;
      color: $mainColor;
      @media (max-width: $md2+px) {
        margin: 0 10px 10px 10px;
      }
		}
		// .item-catalog__sub-title
		&__sub-title {
      color: $gray80;
      margin: 0px 15px 0px 0px;
      @media (max-width: $md2+px) {
        margin: 0px 8px;
      }
		}
		// .item-catalog__body
		&__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: auto;
		}
		// .item-catalog__arrow
		&__arrow {
      flex-shrink: 0;
      margin-bottom: 13px;
      @media (max-width: $md2+px) {
        display: none;
      }
		}
		// .item-catalog__icon-wrapper
		&__icon-wrapper {
      position: relative;
      display: block;
      @include adaptiv-value("height", 98, 87, 1);
      width: 100%;
      max-width: 161px;
      @media (max-width: $md2+px) {
        background: url(../img/catalog/small-colored3.svg) no-repeat 50% 50% / auto;
        margin-left: auto;
      }
		}
    // .item-catalog__icon
    &__icon {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
      @media (max-width: $md2+px) {
        display: none;
      }
      &_default {
        background: url(../img/catalog/catalog-icon3.svg) no-repeat 100% 100% / contain;
      }
      &_colored {
        background: url(../img/catalog/colored3.svg) no-repeat 100% 100% / contain;
        opacity: 0;
        visibility: hidden;
      }
    }
}
