//<FORM ()>====================================================================================================
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  &__row {
  }
  &__column {
  }
  &__line {
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 30px;
    }
    &_range {
      margin-bottom: 62px !important;
    }
  }
  &__input {
  }
  &__button {
  }
  &__error {
    padding-top: 10px;
    color: red;
  }
  &__label {
    @include adaptiv-font(16, 14, 16);
  }
}
//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================

.btn {
  z-index: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  @include adaptiv-font(12, 10, 12);
  line-height: 12px;
  @include adaptiv-value(min-height, 62, 40, 62);
  @include adaptiv-value(padding-left, 18, 12, 18);
  @include adaptiv-value(padding-right, 18, 12, 18);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid $mainColor;
  background-color: $mainColor;
  color: $whiteColor;
  transition: all .2s ease;
  white-space: nowrap;
  @media (any-hover: hover) {
    &:hover {
      background-color: $whiteColor;
      color: $mainColor;
      transition: all .2s ease;
    }
  }
  
  &_white {
    background-color: $whiteColor;
    color: $mainColor;
    &:hover {
      background-color: $mainColor;
      color: $whiteColor;
    }
  }
  &_fw {
      width: 100%;
  }
  &_tp {
    background: transparent;
    color: $mainColor;
    @media (any-hover: hover) {
      &:hover {
        background: $mainColor;
        color: $whiteColor;
      }
    }
    
  }
  &_s {
    @include adaptiv-value(min-height, 48, 40, 1);
  }
}

._lang-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 12/12*100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $gray66;
  &::before {
    padding-left: 3px;
    order: 1;
    right: 0;
    font-size: 3px;
    width: 6px;
  }
}

//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select {
  position: relative;
  user-select: none;
  &__label {
    @include adaptiv-font(18, 12, 18);
    line-height: 36 / 18 * 100%;
  }
  // .select__item
  &__item {
    position: relative;
  }
  // .select__title
  &__title {
    color: $mainColor;
    opacity: 1;
    background-color: $whiteColor;
    cursor: default;
    @media (max-width: $md2+px) {
      @include adaptiv-font(18, 12, 18);
    }
  }
  // .select__value
  &__value {
    display: flex;
    @include adaptiv-font(18, 14, 18);
    font-weight: 500;
    @include adaptiv-value(height, 62, 40, 1);
    padding: 1.375em 1.25em;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    span {
      height: 1em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      display: inline-block;
      transition: all 0.3s ease 0s;
      font-size: 0.4375em;
      color: $mainColor;
      @extend %ic;
      @extend ._icon-rectangle;
    }
    &_production {
      
    }
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: $mainColor;
    font-weight: 500;
    position: absolute;
    top: 100%;
    min-width: 100%;
    left: 0;
    background-color: $whiteColor;
    border-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    font-size: 0.875em;
    // padding: 10px 0px 5px 0px;
    transition: all 0.3s ease 0s;
    @media (max-width: $md2+px) {
      font-size: 1.125em;
    }
  }
  // .select__option
  &__option {
    cursor: pointer;
    padding: 1.125em 1.25em;
    margin: 0px 0px 0px 0px;
    @include adaptiv-font(18, 14, 18);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainColor;
        padding-left: 1.5em;
        text-decoration: underline;
        transition: all 0.3s ease 0s;
      }
    }
    
  }
  &._active {
    z-index: 5;
    .select__value {
      &:before {
        transform: rotate(-180deg);
      }
    }
    .select__options {
      display: block;
    }
  }
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include adaptiv-font(18, 14, 18);
  font-weight: 500;
  border: 1px solid $mainColor;
  color: $mainColor;
  &:focus {
    outline: none;
  }
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  // padding: 22px 20px;
  @include adaptiv-value(padding, 20, 10, 1);
  opacity: 0.3;
  border: 1px solid #000000;
  margin-top: 10px;
  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }

  &._focus {
    opacity: 0.7;
  }
  &._error {
    border: 1px solid red;
  }
}
textarea.input {
  resize: none;
  padding: 20px 16px;
  resize: none;
  @include adaptiv-value(min-height, 137, 80, 1);
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
  position: relative;
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text:before {
      background: #fff url("../img/icons/check.svg") center no-repeat;
    }
  }
  // .checkbox__text
  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
    &:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac;
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
    @media (min-width: 992px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &._error {
    .checkbox__text {
      &:before {
        border: 1px solid #ee1212;
      }
    }
  }
}
//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .options__item
  &__item {
    position: relative;
    cursor: pointer;
    &._error {
    }
  }
  // .options__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden;
    &:checked + .options__text:before {
    }
    &:checked + .options__text:after {
      transform: scale(1);
    }
  }
  // .options__text
  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    &:before {
      content: "";
      align-self: flex-start;
      margin: 0px 14px 0px 0px;
      flex: 0 0 20px;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 20px;
      height: 18px;
      background: #fff;
      border: 1px solid #a7a9ac;
    }
    &:after {
      content: "";
      transition: all 0.3s ease 0s;
      transform: scale(0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #77243a;
      position: absolute;
      left: 5px;
      top: 4px;
    }
  }
}
//</OPTIONS>====================================================================================================
