//<ОСНОВНОЙ БЛОК>====================================================================================================

h1 {
  @include adaptiv-font(48, 24, 48);
  line-height: 56 / 48 * 100%;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  @include adaptiv-font(48, 30, 48);
  line-height: 56 / 48 * 100%;
  margin: 0px 0px 40px/48px * 1em 0px;
}

h3 {
  @include adaptiv-value(margin-bottom, 20, 10, 1);
  font-weight: 500;
  @include adaptiv-font(24, 18, 24);
}
h4 {
  font-size: 14px;
  line-height: 18px;
}

.phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23 / 18 * 100%;
  flex-shrink: 0;
  // .phone__number
  &__number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 23 / 18 * 100%;
    color: $mainColor;
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        width: 100%;
        background-color: $mainColor;
        opacity: 0;
        transition: all 0.2s ease 0s;
      }
    @media (any-hover: hover) {
      &:hover::after {
        opacity: 1;
      }
    }
  }
  // .phone__call
  &__call {
    font-size: 14px;
    line-height: 14 / 14 * 100%;
    color: $gray66;
    font-weight: 400;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    
  }
}

.color666 {
  color: $gray66;
}

._notdisplay {
  display: none;
}

._icon-menu::before {
  font-size: 14px;
  margin-right: 10px;
}

._icon-ellipse::before {
}

._icon-box::before {
  font-size: 28px;
  margin-right: 10px;
}

._icon-telephone::before {
  font-size: 27.8px;
  margin-right: 8px;
  color: $mainColor;
}

._icon-facebook::before {
  font-size: 28px;
  margin-right: 14px;
  color: $mainColor;
}

._icon-instagram::before {
  font-size: 28px;
  margin-right: 14px;
  color: $mainColor;
}

._icon-productArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  background: $mainColor;
  @include adaptiv-value("width", 40, 0, 1);
  @include adaptiv-value("height", 40, 0, 1);
  border-radius: 50%;
  color: $whiteColor;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  @extend %ic;
  @extend ._icon-arrow-r;
  font-size: 12px;
}

._rgba {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  border-radius: 1px;
  transition: opacity 0.3s ease 0s;
  @media (max-width: $md2+px) {
    opacity: 1;
    border-radius: 8px;
  }
  &-blue {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #d4eefc 100%
    );
    @media (max-width: $md2+px) {
      background: #D4EEFC;
    }
  }
  &-yellow {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #ffefa6 100%
    );
    @media (max-width: $md2+px) {
      background: #FFEFA6;
    }
  }
  &-purple {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #e5d4fc 100%
    );
    @media (max-width: $md2+px) {
      background: #E5D4FC;
    }
  }
  &-green {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #b1f1d0 100%
    );
    @media (max-width: $md2+px) {
      background: #B1F1D0;
    }
  }
  &-beige {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #ffe1d3 100%
    );
    @media (max-width: $md2+px) {
      background: #FFE1D3;
    }
  }
  &-gray {
    background: linear-gradient(
      221.35deg,
      rgba(255, 239, 166, 0) 0%,
      #e1e1e1 100%
    );
    background: #E1E1E1;
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
  display: block;
  content: "";
  clear: both;
}
.rub:after {
  content: "₽";
}
//====================================================================================================
%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//====================================================================================================
ol.counter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    padding: 0px 0px 0px 45px;
    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb;
    }
  }
}
//====================================================================================================
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//====================================================================================================
.table {
  display: table;
  font-size: 1.125em;
  width: 100%;
  //table-layout: fixed;
}
.trow {
  display: table-row;
}
.cell {
  display: table-cell;
  &.full {
    width: 100%;
  }
}
//====================================================================================================
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  & .slider__bgitem {
    @media (max-width: $md3+px) {
      object-fit: contain;
    }
  }
}
body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//====================================================================================================
._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.videobg {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
  cursor: pointer;
  span {
    font-style: normal;
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
  &._active {
    span {
      font-style: normal;
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}
//====================================================================================================
%graystyle {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}
%graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}
//====================================================================================================
#map {
  background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
  overflow: hidden;
  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }
  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }
  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}
.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}
.swiper-container-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
  display: none;
  &._active {
    display: block;
  }
  & b {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    @include adaptiv-font(24, 18, 24);
  }
  & p {
    margin: 0px 0px 10px 0px;
    @include adaptiv-font(18, 16, 18);
    line-height: 28 / 18 * 100%;
  }
  & ol {
    margin: 0px 0px 0px 17.5px;
    @include adaptiv-value(margin-bottom, 40, 20, 1);
    @media (min-width: $md3+px) {
    margin: 0 0 40px 50px;
    & li {
      @include adaptiv-value(padding-left, 10, 0, 1);
      @include adaptiv-font(16, 14, 16);
      line-height: 24 / 16 * 100%;
      }
    }
  }
  & ul {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 0px 20px;
    & li {
      @include adaptiv-font(18, 16, 18);
      line-height: 28 / 18 * 100%;
      &:not(:last-child) {margin-bottom: 10px;}
      list-style-type: disc;
      &::marker {
        display: block;
      }
    }
  }
  & i {
    font-weight: 500;
    font-style: normal;
    @include adaptiv-font(18, 16, 18);
    line-height: 28px;
    color: #FF6060;
    @media (max-width: $md4+px) {
      font-weight: 400;
    }
  }
}
//=====================================================================================================================
.mirror {
  transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
  z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
  //background-color: rgba(0, 0, 0, 0.1);
  &__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
