@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-printer .path1:before {
  content: "\e90a";
  color: black;
}

._icon-printer .path2:before {
  content: "\e90b";
  margin-left: -1.4169921875em;
  color: black;
}

._icon-printer .path3:before {
  content: "\e90c";
  margin-left: -1.4169921875em;
  color: white;
}

._icon-printer .path4:before {
  content: "\e90d";
  margin-left: -1.4169921875em;
  color: black;
}

._icon-printer .path5:before {
  content: "\e90e";
  margin-left: -1.4169921875em;
  color: black;
}

._icon-printer .path6:before {
  content: "\e914";
  margin-left: -1.4169921875em;
  color: black;
}

._icon-check:before {
  content: "\e915";
}

._icon-arrow-r:before {
  content: "\e916";
}

._icon-arrow-l:before {
  content: "\e917";
}

._icon-percent:before {
  content: "\e901";
}

._icon-uah:before {
  content: "\e91a";
}

._icon-ellipse:before {
  content: "\e900";
}

._icon-telephone:before {
  content: "\e902";
}

._icon-menu:before {
  content: "\e903";
}

._icon-close:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-AI:before {
  content: "\e907";
}

._icon-fex:before {
  content: "\e908";
}

._icon-design:before {
  content: "\e909";
}

._icon-logo:before {
  content: "\e90f";
}

._icon-rectangle:before {
  content: "\e910";
}

._icon-box:before {
  content: "\e911";
}

._icon-arrow-down-lang:before {
  content: "\e912";
}

._icon-arrow-down_wide:before {
  content: "\e913";
}
